<div class='container'>
              <ul class='carousel is-set'>
                <li class='carousel-seat'>
                  <h2>1</h2>
                  <img src="{{ asset('assets/images/resized/21.jpg')}}" alt="dev1" class="carrousel_img"></img>
              </li>
              <li class='carousel-seat'>
                  <h2>2</h2>
                  <img src="{{ asset('assets/images/resized/15.jpg')}}" alt="dev2" class="carrousel_img"></img>
              </li>
              <li class='carousel-seat'>
                  <h2>3</h2>
                  <img src="{{ asset('assets/images/resized/16.jpg')}}" alt="dev3" class="carrousel_img"></img>
              </li>
              <li class='carousel-seat'>
                  <h2>4</h2>
                  <img src="{{ asset('assets/images/resized/22.jpg')}}" alt="dev4" class="carrousel_img"></img>
              </li>
              <li class='carousel-seat'>
                  <h2>5</h2>
                  <img src="{{ asset('assets/images/resized/18.jpg')}}" alt="dev5" class="carrousel_img"></img>
              </li>
              <li class='carousel-seat is-ref'>
                  <h2>6</h2>
                  <img src="{{ asset('assets/images/resized/19.jpg')}}" alt="dev6" class="carrousel_img"></img>
              </li>
          </ul>
      </div>
      <div class='controls'>
          <button class='toggle' data-toggle='prev'>Prev</button>
          <button class='toggle' data-toggle='next'>Next</button>
      </div>